<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div>
      NMRL <b class="font-black">ADMIN</b>
    </div>
  </div>
  <div class="aside-visit">
    <a routerLink="/">
      <span class="icon"><i class="mdi mdi-web"></i></span>
      <span class="menu-item-label">
        view <b class="font-gray">site</b>
      </span>
    </a>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">Post Section</p>
    <ul class="menu-list">
      <li class="--set-active-index-html">
        <a routerLink="./articles">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Articles</span>
        </a>
      </li>
      <li class="active">
        <a routerLink="./categories">
          <span class="icon"><i class="mdi mdi-square-edit-outline"></i></span>
          <span class="menu-item-label">Categories</span>
        </a>
      </li>
      <li class="--set-active-profile-html">
        <a routerLink="./tags">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Tags</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Pages Section</p>
    <ul class="menu-list">
      <li>
        <a routerLink="./departments/list" class="has-icon">
          <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
          <span class="menu-item-label">Departments</span>
        </a>
      </li>
      <li>
        <a routerLink="./services/list" class="has-icon">
          <span class="icon"><i class="mdi mdi-help-circle"></i></span>
          <span class="menu-item-label">Services</span>
        </a>
      </li>
      <li>
        <a routerLink="./about/list" class="has-icon">
          <span class="icon"><i class="mdi mdi-help-circle"></i></span>
          <span class="menu-item-label">About</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Other</p>
    <ul class="menu-list">
      <li>
        <a routerLink="./carousel" class="has-icon">
          <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
          <span class="menu-item-label">Slider</span>
        </a>
      </li>
      <li>
        <a routerLink="./contact" class="has-icon">
          <span class="icon"><i class="mdi mdi-help-circle"></i></span>
          <span class="menu-item-label">Contact Inbox</span>
        </a>
      </li>
    </ul>
  </div>
</aside>


<!-- <p class="menu-label">Divisions</p>
<ul class="menu-list">
  <li>
    <a class="dropdown">
      <span class="icon"><i class="mdi mdi-view-list"></i></span>
      <span class="menu-item-label">Submenus</span>
      <span class="icon"><i class="mdi mdi-plus"></i></span>
    </a>
    <ul>
      <li>
        <a routerLink="#void">
          <span>Sub-item One</span>
        </a>
      </li>
      <li>
        <a routerLink="#void">
          <span>Sub-item Two</span>
        </a>
      </li>
    </ul>
  </li>
</ul> -->