<div class="">
	<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

		<div class="p-4 flex justify-between items-center">
            <div>
                <button
                (click)="filterOpened('')"
                class="mr-2 mt-4 inline-flex items-start justify-start px-3 py-2 bg-blue-700 hover:bg-blue-600 focus:outline-none shadow-md rounded">
                    <p class="text-sm font-medium leading-none text-white">All</p>
                </button>
                <button
                (click)="filterOpened('true')"
                class="mr-2 mt-4 inline-flex items-start justify-start px-3 py-2 bg-blue-700 hover:bg-blue-600 focus:outline-none shadow-md rounded">
                    <p class="text-sm font-medium leading-none text-white">Read</p>
                </button>
                <button
                (click)="filterOpened('false')"
                class="mr-2 mt-4 inline-flex items-start justify-start px-3 py-2 bg-blue-700 hover:bg-blue-600 focus:outline-none shadow-md rounded">
                    <p class="text-sm font-medium leading-none text-white">Not Read</p>
                </button>
            </div>
			<div>
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative mt-1">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input 
                    type="text" 
                    id="table-search" 
                    (keyup)="filterContacts($event)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Messages search ...">
                </div>
            </div>
		</div>

        <table *ngIf="(dataState$ | async) as dataState"
         class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Subject
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Sender Full Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Sender Email
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let contact of dataState?.data?.items">
                <tr (click)="viewMessage(contact)"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">    
                    <td class="px-6 py-2 text-l " [ngClass]="contact?.opened === true ? 'text-gray-400 font-semibold italic' : 'text-gray-700 font-semibold'">
                        {{ contact?.subject }}
                    </td>
                    <th scope="row" class="px-6 py-2 font-medium text-gray-500 italic">
                       {{ contact?.firstName }} {{ contact?.lastName }}
                    </th>
                    <th scope="row" class="px-6 py-2 font-medium text-gray-500 italic">
                        {{ contact?.email }}
                    </th> 
                </tr>
                <tr class="bg-gray-200 border-b" *ngIf="activeContact === contact._id">  
                    <td class="px-6 py-2" colspan="3">
                        <article>

                            <div class="grid grid-cols-11">
                                <div class="col-span-1 text-l font-semibold text-gray-600">creator</div>
                                <div class="col-span-10">{{ contact?.firstName }} {{ contact?.lastName }}</div>
                            </div>

                            <div class="grid grid-cols-11">
                                <div class="col-span-1 text-l font-semibold text-gray-600">email</div>
                                <div class="col-span-10">{{ contact?.email }}</div>
                            </div>

                            <div class="grid grid-cols-11">
                                <div class="col-span-1 text-l font-semibold text-gray-600">subject</div>
                                <div class="col-span-10">{{ contact?.subject }}</div>
                            </div>

                            <div class="grid grid-cols-11">
                                <div class="col-span-1 text-l font-semibold text-gray-600">created</div>
                                <div class="col-span-10">{{ contact?.createdAt }}</div>
                            </div>

                            <div class="grid grid-cols-11">
                                <div class="col-span-1 text-l font-semibold text-gray-600">opened</div>
                                <div class="col-span-10">{{ contact?.dateOpened }}</div>
                            </div>

                            <hr class="my-2 border-white">

                            <div class="grid grid-cols-11">
                                <div class="col-span-1 text-l font-semibold text-gray-600">Message</div>
                                <div class="col-span-10">{{ contact.message }} </div>
                            </div>

                        </article>
                    </td> 
                </tr>
            </tbody>
        </table>

    </div>
</div>


